@use "../styles/partials/mixins";
@use "../styles/partials/variables";

// h1, h2, h3, h4, h5, h6 {
//     padding: 1.5rem 1rem 1rem 1rem;

//     @include mixins.tablet {
//         padding: 3rem 2.25rem 2.25rem 2.25rem;
//     }
//   }

html {
    font-size: 16px;
}

h1 {
    font-size: 3.2rem;
}

p {
    font-size: 1.3rem;
    padding: 1rem 0;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.site-header {
    background-color: variables.$bandsite-black;
    padding-top: 1rem;

    @include mixins.tablet {
        padding: 0rem 2rem;
        flex-direction: row;
        justify-content: flex-start;
        
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: variables.$bandsite-black;

        @include mixins.tablet {
            flex-direction: row;
            width: auto;
            column-gap: 4em;
            height: 10vh;
            
        }
        
    }

    &__logo {
        width: 9rem;
    }


    &__nav-list {
        display: flex;
        list-style: none;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        @include mixins.tablet {
            width: auto;
        }
    }


    &__nav-item {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 1rem;

        @include mixins.tablet {
            padding: 2.5rem;
        }
    }

    &__nav-item:hover {
        border-bottom: 4px solid variables.$white;
        
    }

    &__nav-link {
        color:variables.$white;
        height: 100%;
        @include mixins.font(AvenirNextDemi);
    }

}

.active {
    border-bottom: 4px solid variables.$white;
    @include mixins.font(AvenirNextBold);

}

.inactive {
    color: variables.$mercury;
}




.hero {

    background-image: url("../assets/images/hero-shows.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;

    @include mixins.tablet {
    }


    @include mixins.desktop {
    }

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column; 
    }

    &__container {
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
    }


    &__wrapper--video {
        display: flex;
        width: 60%;
        padding: 3rem 0;
    }


    &__title {
        color: variables.$white;
        z-index: 1;

        @include mixins.font(AvenirNextDemi);

        @include mixins.tablet {
            font-size: 3.8rem;
        }
    }

    &__subtitle {
        color: variables.$alabaster;
        text-transform: capitalize;
        z-index: 1;

        @include mixins.font(AvenirNextRegular);

        @include mixins.tablet {
            font-size: 3.8rem;
        }
    }

    &__video {
        width: 100%;
        height: 150px;
        z-index: 3;
    }
}

.hero > h1 {

}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }

  
  .shows {
    &__title {
      font-size: 2rem;
      padding: 0.8rem;
      @include mixins.font(AvenirNextRegular);


    }
  
    &__container-all {
      padding: 2.5rem;
    }
  
    &__table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }
  
    &__header-cell {
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
      text-align: left;
    }
  
    &__header-cell--date {
      flex-basis: 33.33%;
    }
  
    &__header-cell--venue {
      flex-basis: 33.33%;
    }
  
    &__header-cell--location {
      flex-basis: 33.33%;
    }
  
    &__cell {
      padding: 10px;
    }
  
    &__cell--date {
      flex-basis: 33.33%;
    }
  
    &__cell--venue {
      flex-basis: 33.33%;
    }
  
    &__cell--location {
      flex-basis: 33.33%;
    }
  
    &__cell--button {
      text-align: center;
    }
  
    &__date-container,
    &__venue-container,
    &__location-container,
    &__button-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    &__date-header,
    &__venue-header,
    &__location-header {
      @include mixins.font(AvenirNextRegular);
      flex-basis: 100%;
      font-size: 1rem;
      margin-bottom: 5px;
      color: variables.$mercury;
    }
  
    &__venue,
    &__location {
        @include mixins.font(AvenirNextRegular);
      flex-basis: 100%;
      font-size: 1rem;
    }

    &__date {
        @include mixins.font(AvenirNextBold);
        font-size: 1rem;
    }
  
    &__button {
      background-color: variables.$bandsite-black;
      color: variables.$white;
      border: none;
      border-radius: 6px;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  }
  
  
  

.footer {

    background-color: variables.$bandsite-black;
    padding: 1rem;

    &__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
    position: relative;

    @include mixins.tablet {
        flex-direction: row;
        align-items: center;
    }
        }

    &__sub-wrapper-top-text {
        color: variables.$white;
        @include mixins.font(AvenirNextDemi);
        
    }

    &__sub-wrapper-middle-text {
        color: variables.$alabaster;
        @include mixins.font(AvenirNextRegular);
        
    }

    &__sub-wrapper-bottom-text {
        color: variables.$alabaster;
        @include mixins.font(AvenirNextRegular);
    }

    &__sub-wrapper-top {
        padding: 0.25rem 1rem;
    }

    &__sub-wrapper-middle {
        padding: 1.25rem 1rem;
    }

    &__sub-wrapper-bottom {
        padding: 0.25rem 1rem;
    }


    &__social {
        display: flex;
        column-gap: 2rem;
        padding: 1rem 1rem;
    }

    &__title {
        text-transform: capitalize;
        color: variables.$white;
        @include mixins.font(AvenirNextBold);
    }

    &__social-icon {
        width: 2rem;
        height: 2rem;
    }

    &__logo {
        width: 9rem;
        margin-top: 4.5rem;
        margin-left: 1rem;

        @include mixins.tablet {
            display: none;
        }
    }

    &__top-logo {
        display: none;

        @include mixins.tablet {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.5rem;

        }
    }

    &__copyright-text {
        color: variables.$alabaster;
        padding: 1rem 1rem;
        @include mixins.font(AvenirNextRegular);
    }
}



