@font-face {
  font-family: "AvenirNextBold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "AvenirNextRegular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNextDemi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("woff");
  font-weight: 600;
}
html {
  font-size: 16px;
}

h1 {
  font-size: 3.2rem;
}

p {
  font-size: 1.3rem;
  padding: 1rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.site-header {
  background-color: #323232;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .site-header {
    padding: 0rem 2rem;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.site-header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
}
@media (min-width: 768px) {
  .site-header__nav {
    flex-direction: row;
    width: auto;
    -moz-column-gap: 4em;
         column-gap: 4em;
    height: 10vh;
  }
}
.site-header__logo {
  width: 9rem;
}
.site-header__nav-list {
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .site-header__nav-list {
    width: auto;
  }
}
.site-header__nav-item {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1rem;
}
@media (min-width: 768px) {
  .site-header__nav-item {
    padding: 2.5rem;
  }
}
.site-header__nav-item:hover {
  border-bottom: 4px solid #ffffff;
}
.site-header__nav-link {
  color: #ffffff;
  height: 100%;
  font-family: AvenirNextDemi, sans-serif;
}

.active {
  border-bottom: 4px solid #ffffff;
  font-family: AvenirNextBold, sans-serif;
}

.inactive {
  color: #E1E1E1;
}

.hero {
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}
.hero__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.hero__container {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}
.hero__wrapper--video {
  display: flex;
  width: 60%;
  padding: 3rem 0;
}
.hero__title {
  color: #ffffff;
  z-index: 1;
  font-family: AvenirNextDemi, sans-serif;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.8rem;
  }
}
.hero__subtitle {
  color: #FAFAFA;
  text-transform: capitalize;
  z-index: 1;
  font-family: AvenirNextRegular, sans-serif;
}
@media (min-width: 768px) {
  .hero__subtitle {
    font-size: 3.8rem;
  }
}
.hero__video {
  width: 100%;
  height: 150px;
  z-index: 3;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.shows .shows__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
}
.shows .shows__table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
}
@media (min-width: 1280px) {
  .shows .shows__table {
    justify-content: space-between;
  }
}
.shows .shows__table .shows__heading {
  display: none;
}
@media (min-width: 768px) {
  .shows .shows__table .shows__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .shows .shows__table .shows__heading .shows__field--date {
    width: 32.3%;
    color: #E1E1E1;
    font-family: AvenirNextRegular, sans-serif;
    font-size: 1rem;
    text-align: left;
  }
  .shows .shows__table .shows__heading .shows__field--venue {
    width: 31.3%;
    color: #E1E1E1;
    font-family: AvenirNextRegular, sans-serif;
    font-size: 1rem;
    text-align: left;
  }
  .shows .shows__table .shows__heading .shows__field--location {
    width: 56.66%;
    color: #E1E1E1;
    font-family: AvenirNextRegular, sans-serif;
    font-size: 1rem;
    text-align: left;
  }
}
.shows__title {
  font-size: 2rem;
  padding: 2rem;
  font-family: AvenirNextRegular, sans-serif;
}
.shows__one-container {
  border-bottom: 1px solid #E1E1E1;
  padding: 2rem;
}
@media (min-width: 768px) {
  .shows__one-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
}
.shows__container-all {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .shows__container-all {
    flex-direction: row;
  }
}
.shows__header-cell {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}
.shows__header-cell--date {
  flex-basis: 33.33%;
}
.shows__header-cell--venue {
  flex-basis: 33.33%;
}
.shows__header-cell--location {
  flex-basis: 33.33%;
}
.shows__cell {
  padding: 10px;
}
.shows__cell--date {
  flex-basis: 33.33%;
}
.shows__cell--venue {
  flex-basis: 33.33%;
}
.shows__cell--location {
  flex-basis: 33.33%;
}
.shows__cell--button {
  text-align: center;
}
@media (min-width: 1280px) {
  .shows__table-container {
    width: 100vw;
  }
}
@media (min-width: 1280px) {
  .shows__title-container {
    width: 10%;
  }
}
.shows__date-container, .shows__venue-container, .shows__location-container, .shows__button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shows__date-header, .shows__venue-header, .shows__location-header {
  font-family: AvenirNextRegular, sans-serif;
  flex-basis: 100%;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #E1E1E1;
}
@media (min-width: 768px) {
  .shows__date-header, .shows__venue-header, .shows__location-header {
    display: none;
  }
}
.shows__venue, .shows__location {
  font-family: AvenirNextRegular, sans-serif;
  flex-basis: 100%;
  font-size: 1rem;
}
.shows__date {
  font-family: AvenirNextBold, sans-serif;
  font-size: 1rem;
}
.shows__button {
  background-color: #323232;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 100%;
  margin: 4px 2px;
  cursor: pointer;
}

.footer {
  background-color: #323232;
  padding: 1rem;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  position: relative;
}
@media (min-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    align-items: center;
  }
}
.footer__sub-wrapper-top-text {
  color: #ffffff;
  font-family: AvenirNextDemi, sans-serif;
}
.footer__sub-wrapper-middle-text {
  color: #FAFAFA;
  font-family: AvenirNextRegular, sans-serif;
}
.footer__sub-wrapper-bottom-text {
  color: #FAFAFA;
  font-family: AvenirNextRegular, sans-serif;
}
.footer__sub-wrapper-top {
  padding: 0.25rem 1rem;
}
.footer__sub-wrapper-middle {
  padding: 1.25rem 1rem;
}
.footer__sub-wrapper-bottom {
  padding: 0.25rem 1rem;
}
.footer__social {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 1rem 1rem;
}
.footer__title {
  text-transform: capitalize;
  padding: 1rem 1rem;
  color: #ffffff;
  font-family: AvenirNextBold, sans-serif;
}
.footer__social-icon {
  width: 2rem;
  height: 2rem;
}
.footer__logo {
  width: 9rem;
  margin-top: 4.5rem;
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .footer__logo {
    display: none;
  }
}
.footer__top-logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__top-logo {
    display: flex;
    position: absolute;
    transform: translateY(-50%);
    right: 1.5rem;
  }
}
.footer__copyright-text {
  color: #FAFAFA;
  padding: 1rem 1rem;
  font-family: AvenirNextRegular, sans-serif;
}/*# sourceMappingURL=shows.css.map */